@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.App {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #2d4263;
}

.border {
  border: 10px solid red;
}

.header-style {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 4%;
  animation: glow 1s ease-in-out infinite alternate;
}

.input-style {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  text-align: center;
  /* padding: 4%; */

  animation: glow 1s ease-in-out infinite alternate;
}

.card {
  margin: auto;
  padding: 10px;
  /* background-color: seagreen; */
  color: white;
  box-shadow: violet;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
